.text-center {
  text-align: center;
}

.site-author-image {
  background: white;
  background-clip: content-box;
}

.sidebar .sidebar-button {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  a {
    button($orange);
    border: 1px solid $orange;
    border-radius: 4px;
    // To make line-height in button mixin work
    display: inline-block;

    .fa, .fab, .far, .fas {
      margin-right: 5px;
    }

    if (($scheme == 'Pisces') or ($scheme == 'Gemini')) {
      border: 0;
      color: $orange;
      display: block;

      &:hover {
        background: none;
        border: 0;
        color: darken($orange, 20%);
      }
    }
  }
}

img {
  border-radius: 8px;
}

// 英文换行
code, li {
  word-break:break-all;
}

.post-body {
  .exturl {
    .fa-external-link-alt {
      font-size: 0.6em;
      vertical-align: 2px;
    }
  }
}

.index_list {
  background: var(--content-bg-color);
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  list-style: none;
  padding: 40px 20px;
  min-height: 50vh;
  margin-bottom: 12px;
  margin-top: 0;

  li {
    border-bottom: 1px dashed $grey-lighter;
    &:last-child {
      border-bottom: none;
    }
    a {
      transition-property: background-color;
      padding: 10px;
      padding: 5px 20px;
      position: relative;
      transition-property: background-color;
      display: flex;
      align-items: center;
      border: none;
      justify-content: space-between;
      &:hover {
        background: var(--menu-item-bg-color);
      }
      time {
        color: #999;
      }
    }
  }
}

body {
  background-image: radial-gradient(#00000021 1px, transparent 0);
  background-size: 16px 16px;
}

// ========== [!Tip] syntax ==================

body {
  --color-border-default: #d0d7de;
  // --color-accent-fg: #316dca;
  // --color-accent-emphasis: #316dca;
  --color-accent-fg: #007fff;
  --color-accent-emphasis: #007fff;
  --color-success-fg: #57ab5a;
  --color-success-emphasis: #57ab5a;
  --color-attention-fg: #d29922;
  --color-attention-emphasis: #9e6a03;
  --color-attention-subtle: rgba(187,128,9,0.15);
  --color-danger-fg: #f85149;
  --color-danger-emphasis: #da3633;
  --color-done-fg: #a371f7;
  --color-done-emphasis: #8957e5;
}


.post-body {
  .markdown-alert {
    padding: 8px 16px;
    margin-bottom: 8px;
    color: inherit;
    border-left: .25em solid var(--color-border-default);
    &>:first-child {
      margin-top: 0;
    }
    &>:last-child {
      margin-bottom: 0;
    }
    .markdown-alert-title {
      display: flex;
      font-weight: bold;
      align-items: center;
      line-height: 1;
      margin-bottom: 10px;
      svg {
        margin-right: 6px;
      }
    }
    &.markdown-alert-note {
      border-left-color: var(--color-accent-emphasis);
      .markdown-alert-title {
        color: var(--color-accent-fg);
         svg {
          fill: var(--color-accent-fg);
        }
      }
    }
    &.markdown-alert-important {
      border-left-color: var(--color-done-emphasis);
       .markdown-alert-title {
        color: var(--color-done-fg);
        svg {
          fill: var(--color-done-fg);
        }
      }
    }
    &.markdown-alert-warning {
      border-left-color: var(--color-attention-emphasis);
      .markdown-alert-title {
        color: var(--color-attention-fg);
        svg {
          fill: var(--color-attention-fg);
        }
      }
    }
    &.markdown-alert-tip {
      border-left-color: var(--color-success-emphasis);
       .markdown-alert-title {
        color: var(--color-success-fg);
        svg {
          fill: var(--color-success-fg);
        }
      }
    }
    &.markdown-alert-caution {
      border-left-color: var(--color-danger-emphasis);
      .markdown-alert-title {
        color: var(--color-danger-fg);
        svg {
          fill: var(--color-danger-fg);
        }
      }
    }
  }
}

// ========== [!Tip] syntax End ==================

.github_start_info {
  min-height: 180px;
  min-width: 100%;
  background-color:#eee;
  position: relative;
  &.light{
    display: block;
  }
  &.dark {
    display: none;
  }
}

+tablet-mobile() {
  .github_start_info {
    &.light{
      display: none;
    }
    &.dark {
      display: block;
    }
  }
}

.sidebar-button-2 {
  padding-bottom: 10px;
  a {
    background: transparent;
    color: var(--link-color);
    cursor: pointer;
    line-height: 2;
    padding: 0 15px;
    // border: 1px solid var(--link-color);
    border-radius: 4px;
    display: inline-block;
    border: 0;
    display: block;
    // border-bottom: 1px dotted #ccc;
    text-align: left;
    transition: all 0.2s;
    &:hover {
      background: var(--body-bg-color);
      // color: var(--link-hover-color);
      color: black;
      // background: var(--btn-default-hover-bg);
      // border-color: var(--btn-default-hover-border-color);
      // color: var(--btn-default-hover-color);

    }
    &:last-child {
      border-bottom: 0;
    }
    i {
      vertical-align: 0px;
      font-size: 0.9em;
    }
  }
}

+tablet-mobile() {
  .sidebar-button-2 {
    a {
      color: #fff;
    }
  }
}

.menu .menu-item a {
  &:hover {
    color: black;
  }
}

::selection {
  // background: $primary;
  background-color: black;
  color: white;
}

.post-block {
  // strong {
  //   position: relative;
  //   &:after {
  //     // background-image: linear-gradient(45deg, #6366f1, #4f46e5, #3730a3);
  //     // bottom: -13px;
  //     background-image: linear-gradient(45deg, #6366f1, #4f46e5, #3730a3);
  //     bottom: -8px;
  //     content: "";
  //     height: 12px;
  //     left: 0;
  //     -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 10' preserveAspectRatio='none'><path d='M0 5 Q 25 10, 50 5 T 100 5 T 150 5 T 200 5' stroke='white' stroke-width='2' fill='none'/></svg>");
  //     mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 10' preserveAspectRatio='none'><path d='M0 5 Q 25 10, 50 5 T 100 5 T 150 5 T 200 5' stroke='white' stroke-width='2' fill='none'/></svg>");
  //     mask-size: cover;
  //     position: absolute;
  //     width: 100%;

  //     background-size: 9px 4px;
  //     background-position: 0 100%;
  //     background-repeat: repeat-x;
  //     padding-bottom: 3px;
  //   }
  // }

  strong {
    position: relative;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 10' preserveAspectRatio='none'><path d='M0 5 Q 25 10, 50 5 T 100 5 T 150 5 T 200 5' stroke='black' stroke-width='2' fill='none'/></svg>");;
    background-size: 68px 10px;
    background-position: 0 100%;
    background-repeat: repeat-x;
    padding-bottom: 8px;
  }
  .btn {
    border-radius: 4px;
  }
}

.back-to-top {
  border-radius: 4px;
  transition: all 0.2s;
  &:hover{
    background-color: black;
    color: #fff;
  }
}
.post-toc ol a {
  &:hover {
    color: $primary;
  }
}

.main-inner .sub-menu,
.main-inner .post-block,
.main-inner .tabs-comment,
.main-inner > .comments,
.main-inner .comment-position .comments,
.main-inner .pagination,
header.header,
.sidebar-inner {
  box-shadow: none !important;

}

.post-block {
  position: relative;
  overflow: hidden;
  .badge {
    border: 4px solid #000;
    color: #000;
    border-radius: 50%;
    position: absolute;
    padding: 10px;
    top: -16px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    transform: scale(1.4) rotate(45deg);
    width: 60px;
    height: 60px;
    font-weight: bold;
    opacity: 0.1;
    &::after {
      content: '';
      display: block;
      border:  2px solid #000;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

body{
  &::-webkit-scrollbar {
    width: 10px;
    height: 1px;
    border-radius: 10px;
    background-color: transparent;

  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // border-top-left-radius: 12px;
    // border-bottom-left-radius: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 10px;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.site-brand-container {
  background-color: #fff;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/images/avatar.png);
    background-size: 100%;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.3;
    filter: grayscale(80%);
    // border-radius: 6px;
  }
  .site-title {
    // color: #000;
    color: var(--link-color);
    // text-transform: uppercase;
  }
}
.site-author-image {
  border: 4px dashed #ccc;
  // border: 4px dashed var(--link-color);
  padding: 4px;
}

// hover显示
pre {
  &.pre-wrap {
    white-space: pre-wrap;
  }
  &.break-word {
    overflow-wrap: break-word;
    word-break: break-all;
  }
  .violet-2 {
    color: #5b21b6;
  }
  .green-2 {
    color: #166534;
  }
  .teal-2 {
    color: #115e59;
  }
  .indigo-2 {
    color: #3730a3;
  }
  .rose-2 {
    color: #9f1239;
  }
  .amber-2 {
    color: #92400e;
  }
  .fuchsia-2 {
    color: #86198f;
  }
  .gray-2 {
    color: #27272a;
  }
  .hover-bg-gray-7:hover {
    background-color:  #d4d4d8;
  }
}
